/* John - Rewards */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to  right, #333,#00c6ff, #0078ff);
}
#rewardsHeader {
    display: flex;
    background-color: black;
}
#rewardsHeader img{
    height: 10vh;
}
.rewardsContent{
    text-align: center;
}
#rewardsDesc{
    background-color: beige;
    font-size: 1.5em;
    padding: 20px;
    width: 80%;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#rewardsDesc p{
    margin-top: 15px;
    line-height: 1.5em;
}
#pointSection{
    background-color: lightgray;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
    justify-self: center;
}
#rewardChoices{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}
#rewardHead{
    margin: auto;
    background-color: lightgray;
    padding: 10px;
    width: fit-content;
}
.rewardItem{
    display: inline-block;
    background-color: lightgray;
    width: 25%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* John */