/* John - Rewards */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to  right, #333,#00c6ff, #0078ff);
}
#rewardsHeader {
    display: flex;
    background-color: black;
}
#rewardsHeader img{
    height: 10vh;
}
.rewardsContent{
    text-align: center;
}
#rewardsDesc{
    background-color: beige;
    font-size: 1.5em;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#rewardsDesc p{
    margin-top: 15px;
    line-height: 1.5em;
}
#pointSection{
    background-color: lightgray;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 25%;
    justify-self: center;
}

/* John */